.table th{
    background-color: #ffffff;
}

body {
    position: relative;
    background: url(../img/noise_texture.png) repeat;
}

#main-content {
    padding: 0 20px 20px 20px;
    background-color: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

#content-fluid {
    padding-top: 60px;
}