<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>Email Template - Classic</title>
<style type="text/css">
a:hover { text-decoration: underline !important; }
</style>
</head>

<body marginheight="0" topmargin="0" marginwidth="0" style="margin: 0px; background-color: #f7f2e4;" bgcolor="#f7f2e4" leftmargin="0">
<!--100% body table-->
<table cellspacing="0" border="0" cellpadding="0" width="100%" bgcolor="#f7f2e4">
    <tr>
        <td>
            <!--top links-->
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td valign="middle" align="center" height="45">
                    <p style="font-size: 14px; line-height: 24px; font-family: Georgia, 'Times New Roman', Times, serif; color: #b0a08b; margin: 0px;">
                    </p></td>
                </tr>
            </table>
            <!--header-->
            <table style="background:url(<?php echo Router::url('/img/email/header-bg.jpg', true); ?>); background-repeat: no-repeat; background-position: center; background-color: #fffdf9;" width="684" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td valign="top" width="173">
                                <!--ribbon-->
                                    <table border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td height="120" width="45"></td>
                                            <td background="<?php echo Router::url('/img/email/ribbon.jpg', true); ?>" valign="top" bgcolor="#c72439" height="120" width="80">
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td valign="bottom" align="center" height="35">
                                                            <p style="font-size: 14px; font-family: Georgia, 'Times New Roman', Times, serif; color: #ffffff; margin-top: 0px; margin-bottom: 0px;">CORREO</p>
                                                        </td>
                                                    </tr>
                                                    <!--
                                                    <tr>
                                                        <td valign="top" align="center">
                                                            <p style="font-size: 36px; font-family: Georgia, 'Times New Roman', Times, serif; color: #ffffff; margin-top: 0px; margin-bottom: 0px; text-shadow: 1px 1px 1px #333;">ESPECIAL</p>
                                                        </td>
                                                    </tr>
                                                    -->
                                                </table>
                                            </td>
                                        </tr>
                                    </table><!--ribbon-->
                                </td>
                                <td valign="middle" width="493"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td height="60"></td>
                            </tr>
                            <tr>
                                <td>
                                    <h1 style="color: #333; margin-top: 0px; margin-bottom: 0px; font-weight: normal; font-size: 48px; font-family: Georgia, 'Times New Roman', Times, serif">ORA</h1>
                                </td>
                            </tr>
                            <tr>
                                <td height="40">
                                </td>
                            </tr>
                        </table>
                        <!--date-->
                        <table border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td valign="top" align="center" bgcolor="#312c26" width="357" height="42">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0"><tr><td height="5"></td></tr></table>
                                <p style="font-size: 24px; font-family: Georgia, 'Times New Roman', Times, serif; color: #ffffff; margin-top: 0px; margin-bottom: 0px;"><currentmonthname> <currentyear></p>
                                </td>
                            </tr>
                        </table><!--/date-->
                    </td>
                    <td width="18"></td>
                </tr>
            </table>
        </td>
    </tr>
</table><!--/header-->
<!--email container-->
<table bgcolor="#fffdf9" cellspacing="0" border="0" align="center" cellpadding="30" width="684">
    <tr>
        <td>
            <!--email content-->
            <table cellspacing="0" border="0" id="email-content" cellpadding="0" width="624">
                <tr>
                    <td>
                        <!--section 1-->
                        <table cellspacing="0" border="0" cellpadding="0" width="100%">
                            <tr>
                                <td valign="top" align="center">
                                    <!--<img src="images/img1.jpg" alt="image dsc" style="border: solid 1px #FFF; box-shadow: 2px 2px 6px #333; -webkit-box-shadow: 2px 2px 6px #333; -khtml-box-shadow: 2px 2px 6px #333; -moz-box-shadow: 2px 2px 6px #333;" width="622" />-->
                                    <!--line break-->
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td valign="bottom" height="50"></td>
                                        </tr>
                                    </table><!--/line break-->
                                    <?php echo $this->fetch('content'); ?>
                                </td>
                            </tr>
                        </table><!--/section 1-->
                    </td>
                </tr>
            </table><!--/email content-->
        </td>
    </tr>
</table><!--/email container-->
<!--footer-->
<table width="680" border="0" align="center" cellpadding="30" cellspacing="0">
    <tr>
        <td valign="top">
            <p style="font-size: 14px; line-height: 24px; font-family: Georgia, 'Times New Roman', Times, serif; color: #b0a08b; margin: 0px;">
                <?php 
                $url = Router::url(array('admin' => false, 'controller' => 'subscribers', 'action' => 'unsubscribe'), true); 
                ?>
                <p style="font-size: 14px; line-height: 24px; font-family: Georgia, 'Times New Roman', Times, serif; color: #b0a08b; margin: 0px;">
                    <?php echo __('If you wish to unsubscribe, click %s', $this->Html->link(__('here'), $url)); ?>
                </p>
                <br>
            </p>
        </td>
        <td valign="top">
            <p style="font-size: 14px; line-height: 24px; font-family: Georgia, 'Times New Roman', Times, serif; color: #b0a08b; margin: 0px;">
                RIF: J-40001056-0
            </p>
        </td>
    </tr>
    <tr>
        <td height="30"></td>
        <td height="30"></td>
    </tr>
</table><!--/footer-->
</td>
</tr>
</table><!--/100% body table-->
</body>
</html>